.title-text {
  font-family: "Noto Serif Bengali";
  font-size: 1.7rem;
  color: var(--color-primary);
  background-image: radial-gradient(transparent, var(--color-primary-light));
  font-weight: 600;
  border: 2px solid var(--color-primary);
  border-radius: 1rem;
  width: 20rem;
  margin: 1rem auto;
  padding: 1rem 2rem 1rem 2rem;
  text-align: center;
}

.back-button {
  position: fixed;
  font-size: 2.2rem;
  color: var(--color-primary);
  top: 1rem;
  left: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 2rem;
  z-index: 1;
  opacity: 0.3;
}

.back-button:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary);
  cursor: pointer;
  opacity: 1;
}
